body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.input-title {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.output-container {
    width: 80%;
    /*margin: 0 auto;*/
}

.nutrient-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ddd;
}

.nutrient-label {
    font-weight: bold;
}

.nutrient-quantity {
    color: #007bff;
}

input {
    padding: 5px;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}